<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= employee.birth %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.age %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Office hours:</strong>
    <%= employee.office_hours %>
  </p>

</div>
